kloofendal_48d_partly_cloudy_puresky_8k.hdr filter=lfs diff=lfs merge=lfs -text
satara_night_no_lamps_8k.hdr filter=lfs diff=lfs merge=lfs -text
fabric_pattern_07_col_1_4k.png filter=lfs diff=lfs merge=lfs -text
